# Python
__pycache__/
*.py[cod]
.local/
.cache/
.config/
.bash_logout
.selected_editor

# Environment & Secrets
.env
.venv
env/
venv/

# Runtime Data
*.csv
*.log
*.pulse
*.json
!config.py
# (Note: keeping config.py for now, but usually .env is safer)

# Backups
*.bak
*.swp
